@import url(https://fonts.googleapis.com/css?family=Exo+2:400,200italic);

body {
  background:#f5f1e7;
  margin-left: 200px;
}
.chon_he{
    margin-top: 80px;
}
.btn {
  background:transparent;
  text-align:center;
  letter-spacing:1px;
  font-size:1.4em;
  line-height:1.2em;
  font-weight:300;
  margin:auto;
  width:700px;
  height:20px;
  padding:20px 0;
  border:1px solid #363858;
  overflow:hidden;
  display:inline-block;
  transition:all 0.5s;
  box-shadow:0px 3px 0px #363858;
  border-radius: 4px;
}

.btn:hover, .btn:active {
  text-decoration: none;
  color:#fff;
  border-color:#363858;
  background:#363858;
  box-shadow:0 0 0 #363858;
}

.btn-label {
  display:inline-block;
  position:relative;
  padding-right:0;
  transition:padding-right 0.5s;
  color:#363858;
  font-family: 'Exo 2', sans-serif;
  font-weight:200;
}
.btn-label:after {
  content: "";
  position:absolute;
  right:-50px;
  opacity:0;
  top:22%;
  width:10px;
  height:10px;
  margin-right:-10px;
  background:rgba(0,0,0,0);
  border:3px solid #fff;
  border-top:none;
  border-right:none;
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform:rotate(225deg);
}

.btn:hover .btn-label,
.btn:active .btn-label {
  padding-right:30px;
  color:#f5f1e7;
}

.btn:hover .btn-label:after,
.btn:active .btn-label:after {
  transition:opacity: 0.5s, top 0.5s, right 0.5s;
  opacity:1;
  right:10px;
  top:22%;
}
.chon_he{
  margin-left: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
 
}

.box{
  height: 600px;
  width: 700px;
  border:outset  rgb(75, 86, 185);
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 2%;
  background-color: antiquewhite;
}

.vanban{
  width: 580px;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 50px;
   text-indent: 25px;
   overflow-y:  scroll;
}

.box{
    margin-top: 20px;
}
.btn1 {
  background-color: #2b66aa;
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #2b66aa;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #cbe1ee;
  text-align: center;
  transition: all 0.2s;
}

.btn1:hover {
  color: #e9e3e3;
  background-color: #141414;
}